{
    "prefix":"!",
    "tokens":
    {
        "dev": "YOUR_DISCORD_BOT_TOKEN_HERE",
    },
	"database":
	{
		"server": "localhost",
		"port": 3306,
		"user": "stdtbot",
		"password":"stdtbotdev123",
		"db": "stdtbot"
	}
}